<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="icon" type="image/png" href="{% static 'icons/yatoi_icon.png' %}">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title>yatoi_blog</title>
</head>
<body>
  <!--<audio src="../static/audios/今どきの後輩.mp3" autoplay loop></audio>-->
  <header>
    <div class="header_line">
      <div class="header_icon"><img src="{% static 'images/見上げる猫.png' %}" alt="ホームページアイコン" class="icon" width="75" height="75"></div>
      <div class="header_links row">
        <div class="blog_name col-2"><a class="header_link underline" href="/">yatoi_blog</a></div>
        {% if user.is_authenticated %}
          <div class="col-2"><a class="header_link underline" href="{% url 'post_new' %}">追加</a></div>
        {% else %}
          <div class="col-2"><a class="header_link underline" href="/">リンク１</a></div>
        {% endif %}
        <div class="col-2"><a class="header_link underline" href="/admin/blog/post/add/">記事作成</a></div>
        <div class="col-2"><a class="header_link underline" href="/admin/">管理画面</a></div>
      </div>
    </div>

    <div class="hamburger-demo-menubox">
      <input id="hamburger-demo1" type="checkbox" class="input-hidden">
      <label for="hamburger-demo1" class="hamburger-demo-switch hamburger-demo-switch1">
        <span class="hamburger-switch-line1"></span>
      </label>
      <div class="hamburger-demo-menuwrap">
        <ul class="hamburger-demo-menulist">
          <li><a class="header_link" href="/">メニューリスト１</a></li>
          <li><a class="header_link" href="/">メニューリスト２</a></li>
          <li><a class="header_link" href="/">メニューリスト３</a></li>
        </ul>
      </div>
      <div class="hamburger-demo-cover"></div>
    </div>

    <div class="veil">
      <div class="veil_line"></div>
    </div>
  </header>

  <main>

      {% block content %}
      {% endblock %}

  </main>

  <footer>

  </footer>
</body>
</html>