<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/見上げる猫.png' %}">
  <title>yatoi_blog</title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <header>
    <div class="header_line">
      <div class="header_icon"><img src="{% static 'images/見上げる猫.png' %}" alt="ホームページアイコン" class="icon" width="75" height="75"></div>
      <div class="header_links row">
        <div class="blog_name col-3"><a class="header_link underline" href="/">yatoi_blog</a></div>
        <div class="col-2"><a class="header_link underline" href="/">link1</a></div>
        <div class="col-2"><a class="header_link underline" href="/">link2</a></div>
        <div class="col-2"><a class="header_link underline" href="/">link3</a></div>
      </div>
    </div>

    <div class="hamburger-demo-menubox">
      <input id="hamburger-demo1" type="checkbox" class="input-hidden">
      <label for="hamburger-demo1" class="hamburger-demo-switch hamburger-demo-switch1">
        <span class="hamburger-switch-line1"></span>
      </label>
      <div class="hamburger-demo-menuwrap">
        <ul class="hamburger-demo-menulist">
          <li><a href="#">メニューリスト１</a></li>
          <li><a href="#">メニューリスト２</a></li>
        </ul>
      </div>
      <div class="hamburger-demo-cover"></div>
    </div>

    <div class="veil">
      <div class="veil_line"></div>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>

  </footer>
</body>
</html>