<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>yatoi_blog</title>
</head>
<body>
  <header>
    <div>
      <h1><a href="/">Yatoi Blog</a></h1>
    </div>
  </header>

  <main>
    {% for post in posts %}
      <div>
        <p>投稿日: {{ post.published_date }}</p>
        <h3><a href="/">{{ post.title }}</a></h3>
        <p>{{ post.text|linebreaksbr }}</p>
      </div>
      <div>--------------</div>
    {% endfor %}
  </main>

  <footer>

  </footer>
</body>
</html>