{% extends 'blog/base.html' %}

{% block content %}
<div class="space"></div>
<div class="blog_list">
  <div class="post contents">
    <div class="title">タイトル</div>
    <div class="detail_title"><p>{{ post.title }}</p></div>
    {% if post.published_date %}
      <div class="detail_date">
        {{ post.published_date }}
      </div>
    {% endif %}
    <div class="blog_text">{{ post.text|linebreaksbr }}</div>
  </div>
  {% if user.is_authenticated %}
    <a class="edit btn btn-default" href="{% url 'post_edit' pk=post.pk %}">編集</a>
  {% endif %}
</div>
<div class="space"></div>
{% endblock %}