body{
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none
}

header{
  background-color: white;
}

.header_line{
  background: #28282e;
  height: 80px;
  width: 100%;
}

.header_icon{
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.header_links{
  display: flex;
  padding: 30px 0 0 0;
  width: 70%;
}

a.header_link{
  color: rgb(180, 180, 180);
}

a:hover.header_link{
  color: white;
  text-decoration: none;
}

.underline {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.underline::after {
  background-color: white;
  bottom: 0;
  content: '';
  display: block;
  height: 1.5px;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}

.underline:hover::after {
  width: 100%;
}

.header_link{
  font-weight: bold;
  font-size: 1.25em;
}

/* hamburgerここから */
/* inputを非表示 */
.input-hidden{
  display: none;
}
  /* label */
.hamburger-demo-switch{
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 10px; /* ハンバーガーアイコンの位置（上から） */
  z-index: 9999;
  width: 4em; /* アイコン（クリック可能領域）の幅 */
  height: 4em; /* アイコン（クリック可能領域の）高さ */
}
/* メニュー展開時にハンバーガーアイコンを固定 */
#hamburger-demo1:checked ~ .hamburger-demo-switch{
  position: fixed;
}
/* ハンバーガーアイコン */
.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
  width: 25px;
  height: 3px;
  background: whitesmoke; /* ハンバーガーアイコンの色 */
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .5s;
  content: "";
}
.hamburger-switch-line1{
    transform: translate(-50%, -50%);
}
.hamburger-switch-line1:before{
  transform: translate(-50%, -300%);
}
.hamburger-switch-line1:after{
  transform: translate(-50%, 200%);
}
/* ハンバーガーアイコン･アニメーション */
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
  width: 0;
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:before{
  transform: rotate(45deg) translate(-40%, 325%);
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:after{
  transform: rotate(-45deg) translate(-40%, -325%);
}
/* メニューエリア */
.hamburger-demo-menuwrap{
  position: fixed;
  height: 100%;
  background: #28282e; /* メニューエリアの背景色 */
  padding: 5em 3% 2em;
  z-index: 9998;
  transition: .5s;
  overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
  top: 0;
  left: 150%;
  width: 20%;
}
/* メニューリスト */
.hamburger-demo-menulist{
  margin-right: 3%;
  padding-left: 5% !important; /* !important不要な場合もあり */
  list-style: none;
}
.hamburger-demo-menulist li a{
  text-decoration: none;
  display: block;
  padding: .5em 0;
}
/* メニューエリア･アニメーション */
  /* 右から */
#hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
  left: 80%;
}
  /* コンテンツカバー */
#hamburger-demo1:checked ~ .hamburger-demo-cover{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9997;
  background: rgba(3,3,3,.5);
  display: block;
}


.veil{
  width: 100%;
  height: 400px;
  background-color: rgb(240, 240, 240) ;
  animation: veil-color 10s infinite;
  -webkit-animation: veil-color 10s infinite;
}

@-webkit-keyframes veil-color {
  0% { background-color: rgb(240, 240, 240); }
  10% { background-color: rgb(240, 210, 210); }
  20% { background-color: rgb(240, 230, 210); }
  30% { background-color: rgb(238, 240, 210); }
  40% { background-color: rgb(210, 240, 215); }
  50% { background-color: rgb(210, 230, 240); }
  60% { background-color: rgb(220, 210, 240); }
  70% { background-color: rgb(240, 210, 235); }
  80% { background-color: rgb(240, 210, 215); }
  90% { background-color: rgb(240, 210, 210); }
  100% { background-color: rgb(240, 240, 240); }
}

@keyframes veil-color {
  0% { background-color: rgb(240, 240, 240); }
  10% { background-color: rgb(240, 210, 210); }
  20% { background-color: rgb(240, 230, 210); }
  30% { background-color: rgb(238, 240, 210); }
  40% { background-color: rgb(210, 240, 215); }
  50% { background-color: rgb(210, 230, 240); }
  60% { background-color: rgb(220, 210, 240); }
  70% { background-color: rgb(240, 210, 235); }
  80% { background-color: rgb(240, 210, 215); }
  90% { background-color: rgb(240, 210, 210); }
  100% { background-color: rgb(240, 240, 240); }
}

.veil_line{
  height: 100%;
  width: 2%;
  margin-left: 10%;
  background-color: rgb(60, 90, 90);
  animation: veil_line_color 10s infinite;
  -webkit-animation: veil_line_color 10s infinite;
}

@-webkit-keyframes veil_line_color {
  0% { background-color: rgb(60, 90, 90); }
  25% { background-color: rgb(60, 60, 90); }
  50% { background-color: rgb(78, 60, 90); }
  75% { background-color: rgb(60, 60, 90); }
  100% { background-color: rgb(60, 90, 90); }
}

@keyframes veil_line_color {
  0% { background-color: rgb(60, 90, 90); }
  25% { background-color: rgb(60, 60, 90); }
  50% { background-color: rgb(78, 60, 90); }
  75% { background-color: rgb(60, 60, 90); }
  100% { background-color: rgb(60, 90, 90); }
}

main{
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
}

.space{
  width: 100%;
  height: 100px;
  background:  whitesmoke;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  letter-spacing: 10px;
}

.blog_list{
  background-color: white;
  width: 60%;
  height: 100%;
  margin: 0 20%;
}

.contents{
  height: 100%;
  width: 80%;
  background-color:  white;
  margin: 0 10% 0 auto;
  padding: 5% 0 10% 0;

}

.item{
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: solid 2px black;
}

.date_block{
  display: flex;
  font-size: 14px;
}

.pub_day{
  background-color: #28282e;
  color: white;
  width: 64px;
  height: 100%;
  padding: 1% 10px;
}

.date{
  padding-top: 5px;
  padding-left: 20px;
  color: rgb(175, 175, 175);
}

.blog_title{
  padding-top: 10px;
  padding-left: 85px;
  font-family: sans-serif;
  font-weight: bold;
}

a.blog_title{
  text-decoration: none;
}

.title{
  font-weight: bold;
  float: left;
  padding: 7.5px;
  background-color: #28282e;
  color: white;
}

.detail_title{
  padding: 10px 0 0 100px;
  font-weight: bold;
}

.detail_date{
  margin: -24px 0 0 0;
  color: gray;
  float: right;
}

.blog_text{
  padding-top: 20px;
  line-height: 50px;
}

.col-form-label{
  padding-left: 30px;
}

.form-control{
  margin-bottom: 30px;
}

.add{
  margin: 0 45%;
}

.save{
  margin:0 45%;
}

.edit{
  margin: 0 45% 30px 45%;
}

footer{
  background-color: #28282e;
  height: 400px;
  width: 100%;
}